@import "btnConfig";
// @import "utilities";
// @import "config";

@mixin display($display: flex) {
  margin-top: 45px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:  $light-color;
  font-family: $font-stack;
  line-height: 1;
}

a {
  text-decoration: none;
  font-size: 12px;
}

.hero {
  display: inline-block; 
  color: white;
  @include set-bg($color);
  //background-color: $dark-color;
  width: 100%;

  .content {
    @include display;
    font-size: 18px;
    width: 45%;
  }

  .content1 img {
    border-radius: 60%;
    margin-left: 550px;
    margin-top: -285px;
    min-width: 15%;
    max-width: 50%;
  }    
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      padding: 20px;
    }
  
    a {
      color: set-text-color($primary-color);
      color: text-color-picker($primary-color);
    }
  
    a:hover {
      color: $secondary-color;
    }
  }
}

// This code is related to some of the aspects of SCSS we have yet to cover.
// While you don't have to mess with it, it would be advisable to attempt to understand its functionality.
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
